<!DOCTYPE HTML>
<html lang="en">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159929268-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-159929268-1');
</script>

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="google-site-verification" content="PMHyAXs5JvmzT112k-1TIAXABU9hjlSANMVV_hx3VzE" />
  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Akshayvarun Subramanya
              </h1>
              <p>I am a fifth year PhD student at the <a href="https://www.csee.umbc.edu">Dept. of CSEE</a> of <a href="https://www.umbc.edu">University of Maryland, Baltimore County (UMBC)</a>, where I work on Machine learning and Computer vision. My advisor is <a href="https://www.csee.umbc.edu/~hpirsiav/">Prof.Hamed Pirsiavash</a>.
              </p>
              <p>
                I spent the summer of 2020 as part of<a href="https://aws.amazon.com/rekognition/?blog-cards.sort-by=item.additionalFields.createdDate&blog-cards.sort-order=desc"> Amazon Rekognition</a> working on Object Detection algorithms. I also spent the summer of 2019 at Dolby Laboratories working on generative modeling with <a href="https://scholar.google.com/citations?user=sPcVimQAAAAJ&hl=en">Cong Zhou</a> and <a href="https://www.linkedin.com/in/vivekk">Vivek Kumar</a>.
              </p>
              <p>
                I previously worked at <a href="https://www.iisc.ac.in">Indian Institute of Science</a>, where I was a research assistant for <a href="http://cds.iisc.ac.in/faculty/venky/">Prof.Venkatesh Babu</a> at the <a href="http://val.serc.iisc.ernet.in/valweb/index.html">Video Analytics Lab</a>.
              </p>
              <p>
              I am fortunate to have collaborated with <a href="https://engineering.nyu.edu/faculty/jelena-kovacevic">Prof.Jelena Kovacevic</a> and <a href="https://users.ece.cmu.edu/~sihengc/">Siheng Chen</a> during my internship at <a href="https://www.cmu.edu">Carnegie Mellon University (CMU)</a> in the summer of 2015.
              </p>
              <p>
                I completed my undergraduate studies from <a href="https://www.pes.edu">PES Institute of Technology</a> (now PES University).
              </p>
              <!-- <p>
              I am interested in developing neural network architectures for computer vision tasks which are
              </p> -->
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/rik8P"> Email</a> &nbsp;/&nbsp;
                <!-- <a href="https://github.com/leonidk">GitHub</a> &nbsp;/&nbsp; -->
                <a href="https://twitter.com/aksvarun">Twitter</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=2_3SWFwAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="/pdfs/Akshayvarun_Subramanya_CV.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/akshayvarun"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/akshay3.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                During the course of my PhD, I have mainly focussed on studying the Adversarial Robustness of Computer Vision models but I am broadly interested in studying robust generalization. I believe that building robust networks will help us in the goal of Trustworthy AI and also provide an insight into the understanding how Deep networks generalize. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'conference' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
            {% if post.paper %}
            <a href="{{post.paper}}">  <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /></a>
            {%endif%}
            {% if post.arxiv %}
            <a href="{{post.arxiv}}">  <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /></a>
            {%endif%}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.workshop%}
              <a href="{{post.workshop}}">workshop version</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% if cat == 'arxiv' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <!-- <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
              {% if post.paper %}
              <a href="{{post.paper}}">  <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /></a>
              {%endif%}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">  <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /></a>
              {%endif%}
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.workshop%}
              <a href="{{post.workshop}}">workshop version</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}

          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
<!--
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Intel</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br> -->


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Service</h2>
              <!-- <p>Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'services' %}
          <tr>
            <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td> -->
            <td style="padding:.5%;width:70%;vertical-align:middle;">
              <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{post.role}},&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{post.website}}">{{post.venue}}</a></h3>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a> and <a style="font-size:small;" href="https://leonidk.com">Leonid Keselman</a>'s <a style="font-size:small;" href="https://github.com/leonidk/new_website">Jekyll fork</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
